<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/19969c81-e8ff-4585-8c2f-3f196b588227/resourceGroups/ps30-rg/providers/Microsoft.Web/sites/iotdevicecatalogue</ResourceId>
    <ResourceGroup>ps30-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://iotdevicecatalogue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>28911257-3fc2-4ea4-ba1e-6bdcad96f9e4</ProjectGuid>
    <PublishUrl>https://iotdevicecatalogue.scm.azurewebsites.net/</PublishUrl>
    <UserName>$iotdevicecatalogue</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>